# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores y entornos locales
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Python accidental
__pycache__/
*.py[cod]
.venv/
venv/
.site_replica/

# Temporales y copias
*.tmp
*.bak
*.log
~$*
